{% extends 'expenses/base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Expenses</a></li>
          </ol>
        </nav>
    <div class="row">
        <div class="col-md-10">
            <h1> Expenses list</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Expense</th>
                        <th>Date</th>
                    </tr>
                <tbody>
                    {% for e in expenses %}
                        <tr>
                            <td>{{ e.amount }}</td>
                            <td>{{ e.category }}</td>
                            <td>{{ e.expense_name }}</td>
                            <td>{{ e.date_added }}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    <div class="col-md-2">
        <a href="{% url 'add_expenses'%}" class="btn btn-primary">Add Expense</a>
    </div>
    </div>



</div>

{% endblock %}